In [1]:
#11. Write a program to count the frequency of words appearing in a string.

In [2]:
def countingfreq(strings):
    x = strings.split()
    d = {}
    for i in x:
        if i not in d.keys():
            d[i] = 0
        d[i] = d[i]+1
    print(d)

strings = 'My name is Aniket , Aniket is good boy, from  the lucknow'
print(countingfreq(strings))

{'My': 1, 'name': 1, 'is': 2, 'Aniket': 2, ',': 1, 'good': 1, 'boy,': 1, 'from': 1, 'the': 1, 'lucknow': 1}
None

In [3]:
## 14. Find out pairs with given sum value of an arrayÂ¶
## arr = [5,7,4,3,9,8,19,21] sum = 17

In [4]:
def twoSums(arr,target):
    arr.sort()
    l = 0
    r = len(arr)-1
    while l<=r:
        if arr[l]+arr[r]==target:
            print(arr[l],arr[r])
            l = l+1
            r = r-1
        elif arr[l]+arr[r]<target:
            l = l+1
        else:
            r =r-1

arr = [5,7,4,3,9,8,19,21]
target = 17
print(twoSums(arr,target))

8 9
None

In [5]:
print('ANiket')

ANiket

In [6]:
##1. Question: Write a function that takes a list of numbers and returns the sum.

In [7]:
def aniket(nums):
    return sum(nums)
nums = [10,20,30,40,50]
print(aniket(nums))

150

In [8]:
##2. Question: How do you reverse a string in Python?
def ani(arr):
    return arr[::-1]

arr = "Aniket"
print(ani(arr))

tekinA

In [9]:
d  = {}
print(type(d))

<class 'dict'>

In [10]:
# Print(-10//3) Output?
print(-10//3)

-4

In [11]:
# Print the below statement:
# """Conversation- He Said, "Aniket explain in good way" and I subscribed channel"""

In [12]:
print("\"\"\"Conversation- He Said, \"Aniket\'s explain in good way\" and I subscribed channel\"\"\"")


# Use backslash(\) for every inverted comma (""")

"""Conversation- He Said, "Aniket's explain in good way" and I subscribed channel"""

In [13]:
# what will be the value of  (2**3**2)
print(2**3**2)  # because it intiate from Right to left 2 <-3 <- 2

512

In [14]:
name = "Shantanu"
print(name[::-1])

unatnahS

In [15]:
my_dict = {"jay":30, "Viru":90, "jay":33}
print(my_dict)

{'jay': 33, 'Viru': 90}

In [16]:
import pandas as pd

In [17]:
a = [1,4,7]
b = [2,5,8]
c = [3,6,9]
merged = list(zip(a,b,c))
print(merged)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [18]:
print(10.0//3)

3.0

In [19]:
name = 'Aniket'
name1 = 'aniket'
name == name1

# because the Ascii value of A(65) and a(97) is difference. ord('A')

False

List -> A list is a comma seperated value inclose in square bracket [].
        A list can store different type of data types.
        List is mutable.
        list takes high memory and process is also some.
        list does not support packing and unpacking.





tuple -> A tuple is also a comma seperated value inclose in paranthesis ().
         A tuple can also store different type of Data types.
         It is not mutable.
         Tuple takes less memory than list.
         tuple is fast.
         tuple does support packing and unpacking

In [20]:
str1= "sky is blue"

In [21]:
x = str1.split()
x

['sky', 'is', 'blue']

In [22]:
x1 = x[::-1]
x1
x2 = " ".join(x1)
x2

'blue is sky'

In [23]:
## Now in one Line
strr = "sky is Blue"
print(" ".join(strr.split()[::-1]))

Blue is sky

In [24]:
# Unique Occurence:
## List = [1,2,2,3,4,5,5,5,6,6]
#Output-> 1,4
l = [1,2,2,3,4,5,5,5,6,6]
result = []
for i in l:
    if l.count(i) == 1:
        result.append(i)
print(result)

[1, 3, 4]

In [25]:
## count of numbers
# mystr = "a,a,a,b,b,c,c,c"
# output = a:3, b:2, c:3
mystr = "a,a,a,b,b,c,c,c"
l = mystr.split(',')
d = {}
for i in l:
    if i not in d.keys():
        d[i] = 0
    d[i] +=1
print(d)

{'a': 3, 'b': 2, 'c': 3}

In [26]:
# find max withot built in function
nums = [45,78,12,46,98,66,53,21,63,87,89,91]
max_value = nums[0]
for i in nums:
    if i> max_value:
        max_value = i
print(max_value)

98

In [27]:
# Extend method for Append more than one Item:
lang1 = ['Marathi','Hindi','Gujarati','Urdu']
lang2 = ['sindhi','English','Spainsh']
for i in lang2:
    lang1.append(i)

print(lang1)

['Marathi', 'Hindi', 'Gujarati', 'Urdu', 'sindhi', 'English', 'Spainsh']

In [28]:
## Now with extend()
lang1.extend(lang2)

print(lang1)

['Marathi', 'Hindi', 'Gujarati', 'Urdu', 'sindhi', 'English', 'Spainsh', 'sindhi', 'English', 'Spainsh']

In [29]:
# List comprehension
nums = [3,6,8,12,14,15]
print([i*i for i in nums])

[9, 36, 64, 144, 196, 225]

In [30]:
# with if:
# List comprehension
nums = [3,6,8,12,14,15]
print([i*i for i in nums if i%2==0])

[36, 64, 144, 196]

In [31]:
# with more than one if:
# List comprehension
nums = [3,6,8,12,14,15]
print([i*i for i in nums if i%2==0 if i%3==0])

[36, 144]

In [32]:
# now with if else:
[i*i if i&2==0 else i*i*i for i in nums]

[27, 216, 64, 144, 2744, 3375]

In [33]:
student = {"ajay":10000,"raj":12000,'Vijay':21000}
d = list(student.keys())[-1]
print(d,'-->',student[d])

Vijay --> 21000

In [34]:
# Write a program to print the dublicates in list with built in function
l = ['Hello', 10,20,40,20,60,40,30]
d =[]
for i in l:
    if l.count(i)>1 and i not in d:
        d.append(i)
print(d)

[20, 40]

In [35]:
# Write a program to print the dublicates in list without built in function:
l = ['Hello', 10,20,40,20,60,40,30]
d = []
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i] == l[j]:
            d.append(l[i])
print(d)

[20, 40]

In [36]:
# isinstance(object,datatype): It give you the answer in Boolean form
l = [10,20,30]
isinstance(l,list)

True

In [37]:
'''
write a python program to count number of items having list as values '''

data = {'jay':['male',23,2000],'raj':25, 'vicky':['male', 22], 'ram':['male',23]}            
count = 0
for i in data:
    if isinstance(data[i],list):
        count +=1
print(count)

3

In [38]:
#write a python program to count number of vowels in a string
char = input("Enter the letter to count")
x = char.lower()
count = 0
for i in range(len(x)):
    if x[i] in ['a','e','i','o','u']:
        count +=1
print(count)

Enter the letter to count aniket

3

In [39]:
# Reverse a string using For loop:
x = 'Aniket'
rev_str = ''
for i in x:
    rev_str = i+rev_str
print(rev_str)

tekinA

# Wipro campus placement Questions:

In [40]:
## Write a program to display the words that are repeated more than or equal to N times in the text.

# Input:
# " cat batman latt matter cat matter cat cat latt latt"
# N= 3
# Output:
# cat, latt

s = " cat batman latt matter cat matter cat cat latt latt"
N = 3
d =[]
x = s.split()
for i in set(x):
    if x.count(i)>=N:
        d.append(i)
print(d)

['cat', 'latt']

In [41]:
s = " cat batman latt matter cat matter cat cat latt latt"
N = 3
d ={}
x = s.split()
for i in x:
    if i not in d.keys():
        d[i] = 0
    d[i] +=1
#print(d)
for word, count in d.items():
    if count >=N:
        print(word)

cat
latt

In [42]:
## Write a python Program to sort character and number so that first alphabets and then number are printed
# Input: B7A1R3
# Output: ABR137
x = 'B7A1R3'
char = []
int = []
for c in x:
    if c.isalpha():
        char.append(c)
    else:
        int.append(c)
# print(sorted(char)+sorted(int))
l = ''.join(sorted(char)+sorted(int))
l

'ABR137'

In [43]:
for i in range(1, 1001):
    num = i
    n = len(str(i))  # Find the number of digits
    sum1 = 0
    for digit in str(i):  # Iterate over each digit
        sum1 += int(digit) ** n  # Add the nth power of the digit to sum1
    if sum1 == num:  # Check if the sum of the nth powers of digits equals the original number
        print(num)  # Print the Armstrong number

TypeError: 'list' object is not callable

In [ ]:
# Write a program to swap contents of variable
a = 10
b = 20
a,b = b,a
print('a :',a)
print('b :',b)

In [ ]:
a = 10
b = 20

temp = a
a = b
b = temp

print('a:',a)
print('b:',b)

### What are Perfect numbers.
-> Positive integer that is equal to sum of its positive divisors, excluding the number itself.

if num = 28
then 28 is devisible by 1, 2, 4,14,7
and if I add those number it is 28
so 28 = 28
Hence, it is Perfect number

In [ ]:
num = int(input('Enter the number: '))
d = 0
for i in range(1, num):
    if num % i == 0:
        d = d+i
if d==num:
    print('It is a Perfect number:', d)
else:
    print('It is not a perfect number:', d)

In [ ]:
# Write a program to write input and get the below output:
# 'a3b2c4' -> aaabbcccc

str1 = 'a3b2c4'
output = ''
for i in str1:
    if i.isalpha():
        var = i
    else:
        num = int(i)
        output = output+(num*var)
print(output)

In [ ]:
# write a program to get the following output, here is the questions:

# input = aaaabbbccd
# output  = 4a3b2c1d
str1 = 'aaaabbbccd'
output = ''
counter = 0
char = str1[0]
for i in str1:
    if i == char:
        counter +=1
    else:
        output = output + str(counter) + char
        counter =1 
        char = i

output = output + str(counter) + char
print(output)

In [ ]:
# Write a program for fibonnaci series
# input = 9
# output  = 0,1,1,2,3,5,8,13,21
n = int(input('Enter the number: '))
first = 0
second = 1
if n<=0:
    print('Enter the value more than 0')
elif n==1:
    print(first)
else:
    for i in range(n):
        print(first,end = ' ')
        temp = first
        first = second
        second = temp+first

In [ ]:
## Print your name 10 times without loops and manually:
count = 1
def printer(name):
    global count
    if count<=10:
        print(name)
        count +=1
        printer(name)

printer("aniket")

In [ ]:
# Iterate on list without using loop from start to end
# input -> Enter a list: [10,20,30,40,50]
# start index = 1
# end index = 4
# output = 20,30,40

In [ ]:
lst = eval(input('ENter a list: '))
start = eval(input('ENter a start value: '))
end = eval(input('ENter a end value: '))
def iterate(lst, start, end):
    if start<0 or start>=end:
        return 
    print(lst[start], end= ' ')
    iterate(lst,start+1,end)   
iterate(lst,start, end)

In [ ]:
# Print 1 to n without using any loop:
def printer(n, count =1):
    if count<=n:
        print(count)
        printer(n,count+1)

printer(9)

In [ ]:
lst = eval(input('Enter the number:'))
start = eval(input('Enter the start value: '))
end = eval(input('Enter the end value: '))
def iterate(lst, start, end):
    if start<0 or start>=end:
        return
    print(lst[start], end = ' ')
    iterate(lst, start+1, end)
iterate(lst, start, end)

In [ ]:
while True:
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))

    print("Choose an operation:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    
    choose = int(input("Enter your choice (1/2/3/4): "))

    if choose == 1:
        print('Addition is:', num1 + num2)
    elif choose == 2:
        print('Subtraction is:', num1 - num2)
    elif choose == 3:
        print('Multiplication is:', num1 * num2)
    elif choose == 4:
        if num2 != 0:
            print('Division is:', num1 / num2)
        else:
            print("Error: Division by zero is not allowed!")
    else:
        print("Invalid option!")

    ans = input("Do you want to continue? (y/n): ").lower()
    if ans != 'y':
        break

In [ ]:
### Factorial
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)

n = 5
print(fact(n))

In [ ]:
# write a python program for twin prime numbers
def IsPrime(num):
    count = 0
    for i in range(1, num+1):
        if num%i==0:
            count +=1
    return count==2
        
    


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
if IsPrime(num1) and IsPrime(num2):
    if abs(num1-num2) == 2:
        print(f' the {num1} and {num2} are twin prime number')
    else:
        print(f' the {num1} and {num2} are not twin prime number')
else:
    print("Number are not prime")

In [ ]:
## write a program for prime number:
def prime(n):
    count = 0
    for i in range(1, n+1):
        if n%i==0:
            count +=1
    if count ==2:
        print('The number',n , 'is prime number')
    else:
        print('Not a prime number')

n = 7
prime(n)

In [ ]:
# Write a python program to make string in lowercase without any method:
print(ord('A'))

In [ ]:
print(ord('a'))

In [ ]:
print(ord('Z'), ',', ord('z'))

In [ ]:
# the difference between 97-65 is 32
# so 
print(chr(ord('B')+32))

In [26]:
str1 = input("Enter the string: ")
upper_case = ""
for ch in str1:
    asc = ord(ch)
    if asc > 64 and asc<91:
        upper_case = upper_case+chr(asc+32)
    else:
        upper_case = upper_case + chr(asc)

print("Lower case string is:", upper_case)

Enter the string:  Aniket

Lower case string is: aniket

In [25]:
#"lowest to HIGHEST"
str2 = input("ENter the string: ")
Higher_case= ''
for i in str2:
    asc = ord(i)
    if asc>96 and asc<123:
        Higher_case += chr(asc-32)
    else:
        Higher_case += chr(asc)
print("Highest string is:",Higher_case)

ENter the string:  Aniket

Highest string is: ANIKET

In [ ]:
# Write a program for finding pair of highest product:

# input =[5,3,1,4,3,7,6,9,2]
# output = 7,9
def highestProduct(arr):
    temp = 0
    pair = (0,0)
    for i in range(len(arr)):
        for j in range(i+1, len(arr)):
            if arr[i]*arr[j] > temp:
                temp = arr[i]*arr[j]
                pair = arr[i],arr[j]
    print(pair)
arr = [5,3,1,4,3,7,6,9,2]
highestProduct(arr)

In [ ]:
# find the total number of stings from the m given stings which can be obtained by removing one character from s.

# input = length of string s (n): 5
# enter the string(s): 'abcde'

# number of string in t (m): 4
# enter the strings (t): ['abcd','abcc','cddd','acde']

def obtained(n,s,m,t):
    count = 0
    l1 = []
    for i in s:
        l1.append(i)
    for j in range(n):
        char = l1.pop(j)
        for word in t:
            if ''.join(l1)==word:
                count +=1
        l1.insert(j,char)
    return count
    

print(obtained(5,'abcde',4, ['abcd','abcc','cddd','acde']))

In [ ]:
# Given an array of integers 'nums' and an integer 'target'. return indices of two number such that they add up to target/
# you may assume that each input would have exactly one solution, and you may not use the same element twice.
# input = nums = [2,7,11,15]
           # target = 9
#          output = [0,1]

def twosums(nums, target):
    nums.sort()
    l = 0
    r = len(nums)-1
    while (l<=r):
        if nums[l] + nums[r] == target:
            return l,r
            l = l+1
            r = r-1
        elif nums[l] + nums[r] < target:
            l = l+1
        elif nums[l] + nums[r] > target:
            r = r-1

nums = [2,7,11,15]
target = 9
twosums(nums, target)

### Print all possible substring of string Python

In [35]:
str1 = "bye"
subs = []
for i in range(0, len(str1)):
    for j in range(i+1, len(str1)+1):
        subs.append(str1[i:j])
print(subs)

['b', 'by', 'bye', 'y', 'ye', 'e']

### Printing table of entered

In [44]:
nums = int(input("Enter the number: "))
while True:
    for i in range(0, 11):
        print( nums,'*', i, '=', nums*i)
    x = input("Do You want to continue: y/N")
    if x!='y':
        break

Enter the number:  4

TypeError: 'list' object is not callable

In [ ]:
# list1 = ['xyz',111]
# for i in list1:
#     list1.append(i)
#     print(i,end =" ")

In [1]:
print('Hello world')

Hello world

In [21]:
student_data = {
    'jay':{'details':{'roll': 101, 'marks':[92,89,90,95,78]}},
    'viru':{'details':{'roll': 102, 'marks':[61,81,91,98,79]}},
    'basanti':{'details':{'roll':103, 'marks':[83,89,80,95,78]}},
    'thakur':{'details':{'roll':104, 'marks':[52,69,90,95,78]}}
}
num_of_sub = 5
for i in student_data:
    x = sum(student_data[i]['details']['marks'])/num_of_sub
    print(x)

88.8
82.0
85.0
76.8

In [31]:
n = 'geeks'
for i in n:
    x = set(n)
    y = list(x)
    z = y.sort()
    l = set(z)
print(l)

TypeError: 'NoneType' object is not iterable